<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Converted JUnit suite" verbose="5" thread-count="2">
    <test name = "empty Home Runner" verbose="5">
        <classes>
            <class name = "runner.RunnerTest"/>
        </classes>
    </test>
</suite>

